body {
    background-color: #3A82E0;
}
h1 {
    color: #1BFAD9;
    text-align: center;
}
p {
    color: #000000;
}
.indent {
    text-indent: 50px;
    
}
p::first-letter{
    font-size: 150%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3A82E0;
    color: black;
    text-align: center;
  }