body {
    background-color: #3A82E0;
    font-size: 15px;
}
h1 {
    color: #1BFAD9;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}
h3 {
    font-family: "Noto Sans", sans-serif;
}
p {
    color: #000000;
    font-family: "Didot", sans-serif;
}
.indent {
    text-indent: 50px;
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3A82E0;
    color: black;
    text-align: center;
    font-size: 10px;
    height: 75px;
  }

.item1 { 
    grid-area: header;
}
.item2 { 
    grid-area: menu;
}
.item3 { 
    grid-area: main;
}
.item4 { 
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'menu menu menu header header header'
        'menu menu menu main main main'
        'menu menu menu footer footer footer';
    gap: 10px;
    background-color: #3A82E0;
    padding: 10px;
}